body {
    background-color: #1d1e22;
}

.mainContainer {
    display: grid;
    align-items: center;
    justify-items: center;
    text-align: center;
}

#noway {
    width: 25%;
}

#parallax {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url(/img/wp9152727.png), url(/img/midground.png), url(/img/homebackground.png);
    background-repeat: no-repeat;
    background-position: center;
    background-position: 50% 50%;
    background-size: 120%;
    overflow: hidden;
    z-index: -10;
}

#menuNest {
    width: 100%;
    height: 100vh;
    overflow: visible;
    display: grid;
    position: absolute;
    justify-content: center;
    align-content: center;
}

#menu {
    width: 70vw;
    height: 100%;
    display: grid;
    justify-content: center;
    align-content: center;
    text-align: center;
    text-shadow: 2px 2px #121212;
}

#menu h1 {
    color: #fff;
    opacity: .2;
    font-size: 6rem;
}

#menu p a {
    width: auto;
    color: #fff;
    opacity: .2;
    font-size: 70px;
    transition-property: opacity;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}

#menu p a:hover {
    opacity: .8;
    cursor: pointer;
}